
@{
    ViewBag.Title = "RazorPay";
}

<h2>Razor Pay</h2>

Payment Amount :
<input id="PaymentAmount" name="PaymentAmount" />
<br />
<input onclick="javascript: return processPayment_onclick();" type="button" value="Process Payment" />
<form action="RazorPayReturn" method="post" asp-antiforgery="true">
    <input type="hidden" id="razorpay_payment_id" name="razorpay_payment_id" />
    <input type="hidden" id="razorpay_order_id" name="razorpay_order_id" />
    <input type="hidden" id="razorpay_signature" name="razorpay_signature" />
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>
</form>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="text/javascript">
    function processPayment_onclick() {
        let amount = document.getElementById("PaymentAmount").value;
        $.ajax({
            url: '/Home/RazorPay',
            type: 'POST',
            data: {
                "paymentAmount": amount
            },
            success: function (response) {
                var options = {
                    "key": response.RazorpayKey,
                    "amount": response.Amount,
                    "currency": response.Currency,
                    "name": response.Name,
                    "description": response.Description,
                    "image": "https://avatars.githubusercontent.com/u/65504583?v=4",
                    "order_id": response.OrderId,
                    "handler": function (response) {
                        document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                        document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
                        document.getElementById('razorpay_signature').value = response.razorpay_signature;
                        document.getElementById('rzp-paymentresponse').click();
                    },
                    "prefill": {
                        "name": response.Name,
                        "email": response.Email,
                        "contact": response.PhoneNumber
                    },
                    "notes": {
                        "address": response.Address
                    },
                    "theme": {
                        "color": "#F37254"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            },
            error: function (error) {
                // Handle error
            }
        });
    }
</script>

